
    #drawing-box {
        background: linear-gradient(360deg, #ebf3fd, white);
        position: fixed;
        left: 2rem;
        padding: 1rem;
        display: flex;
        box-shadow: 0 2px 20px #000000c4;
        z-index: 9999999;
        transition: all 0.2s ease-out;
        transform: scale(0.5);
        bottom: -4rem;
        border-radius: 100px;
    }

    [data-drawing="true"] #drawing-box {
        bottom: 3rem;
        transform: scale(1);
    }

    #drawing-cover {
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: all 0.3s ease-out;
        width: 100%;
        height: 100%;
    }
    [data-drawing="true"] #drawing-cover {
        background: rgba(0,0,0,0.5);
        pointer-events: all;
    }

    #drawing-box .tools svg, #drawing-box .close svg {
        color: black;
        padding: 0;
        border-bottom: 2px solid transparent;
        font-size: 1.25rem;
        padding: 0 0 0.25rem 0;
    }
    #drawing-box .close {
        border-left: 1px solid #00000030;
        padding: 0 0 0 1rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #drawing-box .close svg {
        padding: 0;
    }
    #drawing-box .tools {
        display: flex;
        border-right: 1px solid #00000030;
        margin: 0 1rem 0 0;
    }

    #drawing-box .tools > button {
        width: 32px;
        margin: 0 1rem 0 0;
        padding: 0;
        background: transparent;
        box-shadow: none;
        height: 32px;
    }

    #drawing-box .tools > button span {
        background: transparent;
        filter: none !important;
        padding: 0;
        border-radius: 4px;
    }

    #drawing-box .colors {
        display: flex;
        align-items: center;
    }
    #drawing-box .colors > div {
        width: 24px;
        height: 24px;
        border-radius: 100px;
        transition: all 0.1s ease-out;
        cursor: pointer;
        margin: 0 1rem 0 0;
        transform: scale(1);
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    }
    #drawing-box .colors > div:hover {
        transform: scale(1.05);
    }
    #drawing-box .colors > div[data-current="true"]:after {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border-radius: 100px;
        border: 2px solid #0646ff;
    }

    #drawing-box [data-tool][data-current="true"] svg {
        color: #0646ff;
        border-bottom: 2px solid #0646ff;
    }

    #drawing-box [data-tool]:not([data-current="true"]):hover svg {
        color: rgba(0,0,0,0.5);
    }

    #drawing-layer svg {
        display: block !important;
        fill: transparent;
        clip-path: inset(-9999px -9999px -99999px -99999px);
        overflow: visible;
        z-index: 999999999;
    }
    #drawing-layer {
        overflow: visible;
        pointer-events: none;
    }

    [data-drawing="true"] #drawing-layer {
        pointer-events: all;
    }
    #drawing-layer .free-hand, #drawing-layer .arrow {
        overflow: visible;
        position: absolute;
    }

    #drawing-layer .free-hand.static, #drawing-layer .arrow.static {
        opacity: 0;
    }

    #drawing-layer svg path {
        stroke-linecap: round;
    }

    #drawing-layer svg path, #drawing-layer svg line {
        cursor: pointer;
	    pointer-events: visiblepainted;
        position: absolute;
    }
    #drawing-box .colors [data-color="black"] { background: #544141; }
    #drawing-box .colors [data-color="red"] { background: #d83030; }
    #drawing-box .colors [data-color="green"] { background: #30d97d; }
    #drawing-box .colors [data-color="orange"] { background: #ff9000; }
    #drawing-box .colors [data-color="yellow"] { background: #f3f326; }

    @media screen and (max-width: 700px) {
        body[data-drawing="true"] {
            overflow: hidden;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        #drawing-box .colors [data-color="green"], 
        #drawing-box .colors [data-color="orange"],
        #drawing-box .colors [data-color="yellow"],
        #drawing-box .colors [data-color="white"] {
            display: none;
        }
    }